<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Doctor Appointment{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
        </div>
        <h1>SSS Clinic</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('book_appointment') }}">Book Appointment</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %} <!-- Add this line for additional scripts -->

    <footer>
        <p>&copy; 2023 Doctor Appointment System</p>
    </footer>
</body>
</html>
